<footer class="site-footer">

	<div class="wrapper">

		<!-- <h2 class="footer-heading">{{ site.title }} • <a href="{{ site.baseurl }}/table-of-contents">Table of Contents</a></h2> -->

		<div class="footer-col-wrapper">
			<div class="footer-col footer-col-1">
				<h3>Contact us</h3>
				<h4>By email:</h4>
				<ul class="contact-list">
					<li><a href="mailto:{{ site.email }}" target="_blank">{{ site.email }}</a></li>
				</ul>
				<h4>By phone:</h4>
				<ul class="contact-list">
					<li><a href="tel:{{ site.phone }}" target="_blank">Arabic: {{ site.phone }}</a></li>
          <li><a href="tel:{{ site.phone2 }}" target="_blank">French: {{ site.phone2 }}</a></li>
				</ul>
			</div>

			<div class="footer-col footer-col-2">
				<ul class="social-media-list">
					{% if site.github_username %}
					<li>
						{% include icon-github.html username=site.github_username %}
					</li>
					{% endif %}

					{% if site.instagram_username %}
					<li>
						{% include icon-instagram.html username=site.instagram_username %}
					</li>
					{% endif %}

					{% if site.twitter_username %}
					<li>
						{% include icon-twitter.html username=site.twitter_username %}
					</li>
					{% endif %}
				</ul>
			</div>

			<div class="footer-col footer-col-3">
        <h3>{{ site.title }}</h3>
        <p>{{ site.description }}</p>
        <img class="logo" src="{{ site.logo }}" alt="logo">
			</div>
		</div>

	</div>

</footer>
